*{
    box-sizing: border-box;
    margin: 0;
}

body {
    overflow-x: hidden;
}

.navigation {
    background: #000;
}

.navigation a {
text-decoration: none;
color: white;
}

.nav__content{
    display: flex;
    flex-direction: row;
    padding: 1em 5em;
}



.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 100%;
    font-family: 'Roboto',sans-serif;
}

.menu__item {
    padding: 1em 0.6em;
    display: inline-block;
    justify-content: flex-end;
}

.logo {
    width: 90px;
}

.primerseccion {
    display: flex;
    align-items: center;
}

.primerseccion__caja__contenido {
    font-size: 1.1em;
    font-family: 'Roboto Slab',sans-serif;
}

.primerseccion__caja {
    width: 50%;
    padding: 7%;
}

.botonuno {
    display: flex;
    align-items: flex-end;
    justify-content: left;
}

.primeraseccion__btn {
    padding: 20px;
    font-size: 1.1em;
    font-family: 'Roboto',sans-serif;
    margin-top: 20px;
    font-weight: normal;
    background-color: #EEEEEE;
    color: black;
    border: solid 1px black;
    text-decoration: none;
    display: block;
    width: fit-content;
}

.primerseccion__cajados {
    width: 50%;
  
}

.primerseccion__foto {
    width: 100%;
}

.primerseccion__caja__titulo {
    width: 100%;
}


.segundaseccion {
    display: flex;
    padding: 7% 0%;
    align-items: center;
    
 }

.segundaseccion__imagen {
    padding: 0% 0% 0% 14%;
    width: 100%;
}

.segundaseccion__cajauno{
    width: 50%; 
}


.segundaseccion__cajados {
    padding: 0% 7%;;
    width: 50%;
    font-size: 1.1em;
    font-family: 'Roboto Slab',sans-serif;
    justify-content: right;
    text-align: right;
    align-items: flex-end;
    
}

.segundaseccion__titulo {
    width: 80%;
}

.botondos {
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

.botontres {
    display: flex;
    align-items: flex-end;
    justify-content: left;
}

 .botoninfo {
    
    padding: 20px;
    font-size: 1.1em;
    font-family: 'Roboto',sans-serif;
    margin-top: 20px;
    font-weight: normal;
    background-color: #EEEEEE;
    color: black;
    border: solid 1px black;
    text-decoration: none;
    display: block;
    width: fit-content;
 }

 
 

.terceraseccion {
    display: flex;
    align-items: center;
}


.terceraseccion__cajauno {
    width: 50%;
    padding: 0% 7%;
    font-size: 1.1em;
    font-family: 'Roboto Slab',sans-serif;
    justify-content: flex-end;
}



.terceraseccion__titulo {
    width: 80%;
}



.terceraseccion__cajados{
    width: 50%;
    padding: 7% 0%;
    align-items: left;
}

.terceraseccion__cajados__imagen{
    width: 100%;
}


.container {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.nuestrocatalogo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.nuestrocatalogo__titulo {
    width: 50%;
}

.nuestrocatalogo__imagentitulo {
width: 66%;
}


.nuestrocatalogo__boton {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: right;
}
    

.botoncatalogo {
    padding: 20px;
    font-size: 1.1em;
    font-family: 'Roboto',sans-serif;
    margin-top: 20px;
    font-weight: normal;
    background-color: #EEEEEE;
    color: black;
    border: solid 1px black;
    text-decoration: none;
    display: block;
    width: fit-content;
 }

 .contacto__imagen {
    width: 100%;
}


.catalogo__item {
    width: 100%;  
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.swiper-slide {
    display: flex;
    width:100%
}

.catalogo__imagen {
    width: 100%;
    padding: 2%;

}








