@media all and (max-width: 768px) {
.primerseccion {
    flex-direction: column;
}

.primerseccion__caja {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.botonuno {
    justify-content: center;
}

.segundaseccion__cajauno {
    width: 50%; 
}

.primerseccion__caja__titulo {
    width: 90%;
}
    
.primerseccion__cajados {
    width: 100%;
}

.nav__content {
    flex-direction: column;
    align-items: center;
}

.menu {
    margin: 0;
    width: fit-content;
}


.segundaseccion__cajauno{
    width: 80%;
    margin-bottom: 6%;
}

.segundaseccion {
    flex-direction: column;
    width: 100%;
}
    
.segundaseccion__imagen {
    padding: 0% 7%;
    width: 100%;
    justify-content: center;    
    margin-top: 0%;
}

.segundaseccion__cajados {
    padding: 0% 8%;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 0%;  
}

.botondos {
    justify-content: center;
}

.terceraseccion {
    display: block;
    flex-direction: column;
    width: 100%;
    justify-content:flex-start;
}

.terceraseccion__cajauno {
    
    padding: 0% 8%;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 0%;   
}

.botontres {
    justify-content: center;
}


.terceraseccion__cajados {
    width: 100%;
    padding: 7% 0% 0% 15%;
    align-items: right;
}

.terceraseccion__cajados__imagen {
    width: 100%;
}


.nuestrocatalogo {
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.nuestrocatalogo__boton {
    align-items: center;
    justify-content: center;
}

.nuestrocatalogo .btn {
    display: none;
}

.nuestrocatalogo__titulo {
    width: 80%;
    justify-content: center;    
}

.nuestrocatalogo__imagentitulo {
    width: 100%;
}

.contacto {
    flex-direction: column;
    padding: 8% 8%;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
}

.contacto__imagen {
    padding: 0% 0% 3% 0%;
    align-items: center;
}

.contacto__form {
    padding: o%;
}

.contenedor__boton {
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__left {
    align-items: center;
}

.footer__left__logo {
    width: 110px;
}

.footer__right {
    margin-top: 10%;
}

}

