@media all and (max-width: 768px) {
    .primerseccion {
        flex-direction: column;
    }

    .primerseccion__caja {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    }

    .botonuno {
        justify-content: center;
    }

    .primerseccion__caja__titulo{
        width: 90%;
    }
    
    .primerseccion__cajados {
        width: 100%;
    }

    .nav__content {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        margin: 0;
        width: fit-content;
    }

    .nuestrocatalogo {
        flex-direction: column;
        margin-top: 50px;
    }

    .nuestrocatalogo .btn {
        display: none;
    }


    .segundaseccion {
        flex-direction: column;
        width: 100%;
    }
    
    .segundaseccion__imagen {
        padding: 0% 7%;
    width: 100%;
    justify-content: center;    
    margin-top: 0%;

}

.segundaseccion__cajados{
    padding: 0% 8%;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 0%;
    
}

.botondos {
    justify-content: center;
}

.terceraseccion {
    display: block;
    flex-direction: column;
    width: 100%;
    justify-content:flex-start;
}

.terceraseccion__cajauno {
    padding: 0% 8%;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 0%;
      
}

.botontres {
    justify-content: center;
}

.terceraseccion__cajados{
    width: 118%;
    padding: 7% 15% 0% 15%;
    align-items: right;
}

.terceraseccion__cajados__imagen{
    width: 100%;
}












}

@media all and (max-width: 500px) { 
}