.navigation {
  background: #000;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1em 5em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  width: 100%;
  font-family: 'Roboto',sans-serif;
}

.menu__item {
  padding: 1em 0.6em;
  display: inline-block;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.logo {
  width: 90px;
}

.navigation {
  background: #000;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 1em 5em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 100%;
  font-family: 'Roboto',sans-serif;
}

.menu__item {
  padding: 1em 0.6em;
  display: inline-block;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.logo {
  width: 90px;
}

.productos {
  display: flex;
  flex-wrap: wrap;
}


.producto {
  text-decoration: none;
  font-size: 1.1em;
  color: #000;
  margin:20px;
}

.producto__imagen {
  width: 100%;
  height: 250px;
  object-fit: contain;
}



.producto__titulo {
  font-family: 'Roboto Slab',sans-serif;
  font-size: 1em;
}

.producto__ref {
  font-size: 0.7em;
  font-family: 'Roboto',sans-serif;
}

.producto__precioytam {
display: flex;
flex-direction: row;
padding-top: 10px;
}

.producto__tamanio {
padding-left: 15px;
}

.producto__tituloitem {
  font-size: 0.9em;
  font-family: 'Roboto',sans-serif;
}

.producto__valor {
  font-size: 0.7em;
  font-family: 'Roboto',sans-serif;
}

.producto__botonCarro {
  width: 33px;
  height: 33px;
  padding: 0px;
  margin-top: 10px;
  border: none;
  background-image: url("../recursos/BotonCarrito.png");
  background-color: white;
  cursor: pointer;
}


.producto__botonCarro:disabled {
  background-image: url("../recursos/BotonCarritoDisabled.png");
}

.filtros__select {
  width: 80%;
  font-size: 0.7em;
  font-family: 'Roboto',sans-serif;
  padding: 10px;
  background-color: #FFF6E1;
}

.filtros__ordenar__titulo {
  margin-top: 50px;
}

.productoSolo {
  width: 80%;
  margin: 5% auto;
  display: flex;

}

.productoSolo__imagen {
width: 50%;
}

.productoSolo__descripcion {
 margin: 5% 0 0 5%; 
}

.productoSolo__nombre {
  font-family: 'Roboto Slab',sans-serif;
  font-size: 2em;
}

.productoSolo__parrafo {
  font-family: 'Roboto',sans-serif;
  font-size: 1em;
  margin-top: 3%;
}

.productoSolo__precio {
  font-family: 'Roboto',sans-serif;
  font-size: 1.5em;
  margin-top: 3%;
}

.productoSolo__boton {
  width: 46px;
  height: 46px;
  padding: 0px;
  margin-top: 15px;
  border: none;
  background-image: url("../recursos/BotonCarritoProducto.png");
  background-color: white;
  cursor: pointer;

}



/*# sourceMappingURL=styles.css.map */