.navigation {
  background: #000;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1em 5em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  width: 100%;
  font-family: 'Roboto',sans-serif;
}

.menu__item {
  padding: 1em 0.6em;
  display: inline-block;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.logo {
  width: 90px;
}

.navigation {
  background: #000;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 1em 5em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 100%;
  font-family: 'Roboto',sans-serif;
}

.menu__item {
  padding: 1em 0.6em;
  display: inline-block;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.logo {
  width: 90px;
}

.producto {
  width: 300px;
  text-decoration: none;
}

.producto__imagen {
  width: 100%;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

.producto__descripcion {
  padding: 0 15px;
}

#logout {
  display: none;
}

#logout .visible {
  display: block;
}

.navigation {
  background: #000;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 1em 5em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 100%;
  font-family: 'Roboto',sans-serif;
}

.menu__item {
  padding: 1em 0.6em;
  display: inline-block;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.logo {
  width: 90px;
}

.navigation {
  background: #000;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 1em 5em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 100%;
  font-family: 'Roboto',sans-serif;
}

.menu__item {
  padding: 1em 0.6em;
  display: inline-block;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.logo {
  width: 90px;
}

.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.producto {
  text-decoration: none;
  font-size: 1.1em;
  color: #000;
  margin: 20px;
}

.producto__imagen {
  width: 100%;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

.producto__titulo {
  font-family: 'Roboto Slab',sans-serif;
  font-size: 1em;
}

.producto__ref {
  font-size: 0.7em;
  font-family: 'Roboto',sans-serif;
}

.producto__precioytam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 10px;
}

.producto__tamanio {
  padding-left: 15px;
}

.producto__tituloitem {
  font-size: 0.9em;
  font-family: 'Roboto',sans-serif;
}

.producto__valor {
  font-size: 0.7em;
  font-family: 'Roboto',sans-serif;
}

.producto__botonCarro {
  width: 33px;
  height: 33px;
  padding: 0px;
  margin-top: 10px;
  border: none;
  background-image: url("../recursos/BotonCarrito.png");
  background-color: white;
  cursor: pointer;
}

.producto__botonCarro:disabled {
  background-image: url("../recursos/BotonCarritoDisabled.png");
}

.filtros__select {
  width: 80%;
  font-size: 0.7em;
  font-family: 'Roboto',sans-serif;
  padding: 10px;
  background-color: #FFF6E1;
}

.filtros__ordenar__titulo {
  margin-top: 50px;
}

.productoSolo {
  width: 80%;
  margin: 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productoSolo__imagen {
  width: 50%;
}

.productoSolo__descripcion {
  margin: 5% 0 0 5%;
}

.productoSolo__nombre {
  font-family: 'Roboto Slab',sans-serif;
  font-size: 2em;
}

.productoSolo__parrafo {
  font-family: 'Roboto',sans-serif;
  font-size: 1em;
  margin-top: 3%;
}

.productoSolo__precio {
  font-family: 'Roboto',sans-serif;
  font-size: 1.5em;
  margin-top: 3%;
}

.productoSolo__boton {
  width: 46px;
  height: 46px;
  padding: 0px;
  margin-top: 15px;
  border: none;
  background-image: url("../recursos/BotonCarritoProducto.png");
  background-color: white;
  cursor: pointer;
}

.productoSolo__boton:disabled {
  background-image: url("../recursos/BotonCarritoProductoDisabled.png");
}

.productoss {
  width: 60%;
}

.productoo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 169%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 7% 0%;
  padding: 25px;
  border: 1px solid;
}

.productoo__imagen {
  width: 250px;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 20px;
}

.productoo__nombre {
  font-family: 'Roboto Slab',sans-serif;
  font-size: 2em;
}

.productoo__precio {
  font-family: 'Roboto',sans-serif;
  font-size: 1.2em;
  margin-top: 3%;
}

.productoo__boton {
  font-size: 1em;
  font-family: 'Roboto',sans-serif;
  padding: 10px;
  background-color: #FFF6E1;
  cursor: pointer;
  margin-left: 10px;
}

.total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4% 3%;
  padding: 25px;
  border: 1px solid;
  font-family: 'Roboto',sans-serif;
}

.login__header {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.login__logo {
  width: 10%;
  padding: 16px;
}

.login__primerDiv {
  margin-top: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__titulo {
  width: 30%;
}

.login__datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
}

.login__contenedor {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.login__item {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.login__item__boton {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.login__segundoDiv {
  margin-top: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10%;
}

.login__contenedorDos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hidden {
  display: none;
}

#logout {
  display: none;
}

#logout.visible {
  display: block;
}

#createProduct {
  font-size: 1em;
  font-family: 'Roboto',sans-serif;
  width: 80%;
  margin: 20px auto;
}

#createProduct input, #createProduct textarea {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  font-family: 'Roboto',sans-serif;
  margin-bottom: 10px;
  margin-top: 3px;
}

#createProduct input {
  background-color: #fdf3e6;
  border: black;
}

.checkout__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout__section section {
  width: 50%;
  padding-top: 5%;
  margin-right: 20px;
}

.checkout__section form input, .checkout__section form select {
  width: 100%;
  border: none;
  background-color: #f7dab5;
  font-size: 1em;
  font-family: 'Roboto',sans-serif;
  padding: 8px;
  margin: 5px auto;
}
/*# sourceMappingURL=styles.css.map */